.principal {
    margin: 10vw;
}

.principal__titulo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--azul);
}

.principal__subtitulo {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 2rem 0 1rem 1rem;
    color: var(--laranja);
}

.formulario__dupla {
    display: flex;
    justify-content: space-between;
}

.formulario__campo {
    display: flex;
    flex-direction: column;
    margin-right: -1rem;
}