.principal {
    margin: 10vw;
}

.principal__titulo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--azul);
}

.principal__subtitulo {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 2rem 0 1rem 1rem;
    color: var(--laranja);
}

.formulario__campo {
    display: flex;
    flex-direction: column;
}

.campo__etiqueta {
    color: var(--cinza-claro);
    margin-left: .5rem;
}

.campo__escrita {
    border: 2px solid var(--azul);
    border-radius: 1.5rem;
    padding: .5rem;
    margin: .5rem 0 1rem 0;
}