.principal {
    margin: 10vw;
}

.principal__titulo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--azul);
}

.principal__subtitulo {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 2rem 0 1rem 1rem;
    color: var(--laranja);
}

.formulario__campo {
    display: flex;
    flex-direction: column;
}

.campo__etiqueta {
    color: var(--cinza-claro);
    margin-left: .5rem;
}

.campo__escrita {
    border: 2px solid var(--azul);
    border-radius: 1.5rem;
    padding: .5rem;
    margin: .5rem 0 1rem 0;
}

.formulario__termos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.mensagem-erro {
    font-weight: 700;
    font-family: var(--fonte-secundaria);
    color: var(--vermelho);
    margin: -.5rem 0 1rem 1rem;
}

.formulario__botao {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--branco);
    background-color: var(--laranja);
    border: 5px solid var(--laranja-escuro);
    border-radius: 2rem;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.formulario__botao:active {
    background-color: var(--laranja-escuro);
}

@media screen and (min-width: 768px) {
    .principal__titulo {
        font-size: 2rem;
    }

    .principal__subtitulo {
        font-size: 1.5rem;
    }

    .formulario__dupla {
        display: flex;
        justify-content: space-between;
    }

    .formulario__campo {
        min-width: 35vw;
    }

    .campo__etiqueta {
        font-size: 1.25rem;
    }

    .campo__escrita {
        font-size: 1.25rem;
    }

    .formulario__erro {
        font-size: 1.25rem;
    }

    .formulario__botao {
        font-size: 1.5rem;
        border-radius: 2.5rem;
        width: 60%;
        margin: 1.5rem 20% 0 20%;
    }
}

@media screen and (min-width: 1024px) {
    .principal {
        margin: 10vw 20vw;
    }

    .principal__titulo {
        font-size: 3rem;
    }

    .principal__subtitulo {
        font-size: 2rem;
        margin: 4rem 0 2rem 1rem;
    }
    
    .formulario__campo {
        min-width: 28vw;
    }

    .campo__etiqueta {
        font-size: 1.5rem;
    }

    .campo__escrita {
        font-size: 1.5rem;
        margin: 1rem 0 1.5rem 0;
    }

    .formulario__erro {
        font-size: 1.5rem;
        margin: -1rem 0 1.5rem 1rem;
    }

    .formulario__botao {
        font-size: 2rem;
        margin-top: 3rem;
    }
}