.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 1.5rem;
}

.titulo {
    font-size: 2rem;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .banner {
        padding: 2rem;
    }

    .titulo {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .banner {
        padding: 3rem;
    }

    .titulo {
        font-size: 4rem;
    }
}