.radape {
    display: flex;
    justify-content: center;
    min-height: 10vh;
    color: var(--branco);
    background: var(--vermelho-degrade);
    padding: 3vh 0vw;
    font-family: var(--fonte-secundaria);
}

.rodape__titulo {
    font-size: 1.15rem;
    font-weight: 700;
    margin-bottom: 2vh;
}

.rodape__divisoria {
    margin: -1vh 2vw -1vh 6vw;
}

.contatos {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.contatos__item {
    display: flex;
    align-items: center;
}

.rodape__icone {
    height: 18px;
}

.rodape__link {
    color: var(--branco);
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .rodape__titulo {
        font-size: 1.5rem;
        margin-bottom: 3vh;
    }

    .creditos, .contatos {
        font-size: 1.25rem;
    }
}