.radape {
    display: flex;
    justify-content: center;
    min-height: 10vh;
    color: var(--branco);
    background: var(--vermelho-degrade);
    padding: 3vh 0vw;
    font-family: var(--fonte-secundaria);
}